body {
    overflow: auto !important;
    font-family: 'Titillium Web', sans-serif !important;
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    color: #343434 !important;
    height: 100% !important;
    background-color: #f3f3f3 !important;
}

header {
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    display: block;
    min-height: 58px;
    margin-bottom: 17px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    background-color: #343434;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    justify-content: left;
    justify-items: left;
    align-items: left;
}

nav {
    position: relative;
    left: 10rem;
    display: grid;
    padding: 0px;
    width: 10rem;
}

ul {
    position: relative !important;
    right: 40px !important;
    top: 2px !important;
    display: grid !important;
    text-transform: none !important;
    list-style-type: none !important;
    color: #fff !important;
    margin: 0px !important;
    grid-row: 1 !important;
}

li {
    position: relative !important;
    top: -2px !important;
    grid-row: 1 !important;
}

.home-img {
    grid-row: 1 !important;
    left: 60px;
    position: relative !important;
    height: 50px !important;
    text-decoration: none !important;
}

.logout {
    position: relative;
    top: 15px;
    left: 56%;
    -webkit-tap-highlight-color: transparent;
    visibility: visible!important;
    box-sizing: border-box;
    width: 100px;
    text-decoration: none;
    outline: 0!important;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 15.5px;
    /* margin: 20px 20px 20px; */
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    box-shadow: none!important;
    transition-property: color, border, background, box-shadow, text-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    margin-left: 9px;
    position: relative;
    display: block;
    padding: 5px;
    line-height: 18px;
    background-color: #ffcd00;
    border-color: #bf9a00;
    color: #000;
}

.home-container {
    align-items: center;
    justify-self: center;
    align-self: center;
    justify-content: center;
    position: relative;
    top: 50px;
    margin: 50px;
    -webkit-tap-highlight-color: transparent;
    font-family: Helvetica, Arial, Roboto, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 955px;
    padding: 18px 20px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 120px;
}

.home-logo {
    grid-row: 1 !important;
    width: 40em !important;
    position: relative !important;
    top: 18px !important;
    left: 65px !important;
    color: #f9c000 !important;
    text-transform: capitalize !important;
}

.push {
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    height: 9rem;
}

.btn {
    margin: 60px;
    padding: 20px;
    width: 200px;
}

.btn-create {
    position: relative;
    left: 35%;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    border: none;
    background-color: #f9c000;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.form-continer {
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    position: relative;
    top: 30px;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
    color: #343434;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 30px 40px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-25%, 0);
    width: 100%;
}

.form-continer2 {
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    position: relative;
    top: 100px;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 30px;
    color: #343434;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 30px 40px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 70%;
}

.read-more {
    text-align: center;
}

.read-more-td {
    width: 60rem;
}